.DS_Store
/target/
/dist/
/assets/terminal-todos-icon.json
**/__pycache__/
**/.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
